<div class="form">
	<%= form_for(@pin) do |form_builder_object| %>
		<label for="board">Which board?</label>
		<%= form_builder_object.fields_for :pinning do |p| %>
			<%= p.collection_select(:board_id, current_user.boards, :id, :name, {}, {class: "form-control"}) %>
			<%= p.hidden_field :user_id, value: current_user.id %>
		<% end %>
		<%= form_builder_object.hidden_field :user_id, value: session[:user_id] %>
		<label for="pin_image">Image</label>
		<%= form_builder_object.file_field :image %>
		<label for="pin_title">Title</label><br />
		<%= form_builder_object.text_field :title %>
		<br />
		<label for="pin_category_id">Category</label><br />
		<%= form_builder_object.collection_select(:category_id, Category.all, :id, :name) %>
		<br />
		<label for="pin_url">Web Address</label><br />
		<%= form_builder_object.text_field :url %>
		<br />
		<label for="pin_text">Description</label><br />
		<%= form_builder_object.text_field :text %>
		<br/ >
		<label for="pin_slug">Slug</label><br />
		<%= form_builder_object.text_field :slug %>
		<br />
		<%= form_builder_object.button %>
	<% end %>

	<% if !@errors.nil? %>
		<div class="error">
			<label><%= pluralize(@errors.count, "error") %>
				prohibited this pin from being saved:</label>
			<ul>
				<% @errors.full_messages.each do |msg| %>
					<li><%= "#{msg}" %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

</div>
