<div class="header">
  <h1>
    <% if "#{@pin.category.name}" == "rails" %>
      <%= image_tag('rails-logo-thumbnail.png') %>
    <% elsif "#{@pin.category.name}" == "ruby" %>
      <%= image_tag('ruby-logo-thumbnail.png') %>
    <% end %>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="show-pin">
  <p><%= "#{@pin.text}" %></p>
  <% if !@pin.image.nil? %>
    <img src="<%= @pin.image.url(:medium) %>">
  <% end %>
  <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <%= link_to "#{@pin.url}", "#{@pin.url}", html_options = {target: "_blank", class: "url"} %>
  </p>
</div>
<br/>
<%= link_to "Edit", "/pins/#{@pin.id}/edit", html_options = {class: "url"} %>
<br />
<a href="/">
  <i class="fa fa-home"></i>
  Back to Home
</a>
