<p id="notice"><%= notice %></p>

<p>
	<strong>First name:</strong>
	<%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="header">
  <h1>My Boards</h1>
  <%= link_to "Add a board!", "/boards/new", html_options = {class: "url"} %>
</div>
<hr/>
<% if !@boards.nil? %>
	<div class="boards">
	  <% @boards.each_slice(3) do |row| %>
	    <div class="row">
	      <% row.each do |board| %>
	        <div class="board-container col-md-4">
	          <div class="board">
	            <div class="board-header row">
	              <div class="board-name col-xs-9 col-md-8 col-md-offset-1">
	                <h4>
	                  <%= link_to "#{board.name}", "/boards/#{board.id}", method: :get %>
	                </h4>
	              </div>
	            </div>
	          </div>
	        </div>
	      <% end %>
	    </div>
	  <% end %>
	</div>
<% end %>

<% if @boards.nil? %>
	<div class="boards">
		<h4>Looks like you haven't created any boards yet.</h4>
		<%= link_to "Make a New Board", new_board_path %>
	</div>
<% end %>

<hr/>

<a href="/">
  <i class="fa fa-home"></i>
  Home
</a> |
<%= link_to 'Edit My Info', edit_user_path(@user) %> |
<%= link_to "Make a New Board", new_board_path %>
