<p id="notice"><%= notice %></p>

<h1>Listing Followers</h1>

<h4><%= current_user.first_name %> <%= current_user.last_name %></h4>

<table>
  <thead>
    <tr>
      <th>I am Following these People</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @followed.each do |person| %>
    <tr>
      <td><%= person.user.first_name %> <%= person.user.last_name %></td>
    </tr>
  <% end %>
</table>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Follower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= follower.user.first_name %> <%=follower.user.last_name %></td>
        <td><%= link_to 'Show', follower %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follower', new_follower_path %>
